body {
    background-color: linear-gradient(175deg, rgba(106, 190, 255, 1) 0%, rgba(0, 58, 103, 1) 100%);
    height: 100vh;
    font-family: Montserrat;
    font-size: 16px;
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
}

/* Centering Inner Container */
.inner-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 1200px; /* Limit maximum width */
    width: 90%; /* Adjust width to fit the content */
}

.bg-gradient {
    /* global 94%+ browsers support */
    background: linear-gradient(175deg, rgba(106, 190, 255, 1) 0%, rgba(0, 58, 103, 1) 100%);
}

/* Image Styles */
.image {
    width: 100%;
    max-width: 400px; /* Limit maximum image width */
    text-align: center;
}

.image img {
    width: 80%;
    height: auto;
    margin-top: 20px;
    border-radius: 20px;
}

/* Form Styles */
.form-div {
    width: 100%;
    max-width: 500px; /* Limit maximum form width */
    padding: 20px;
}

/* Sign-in and Sign-up Styles */
.signin, .signup {
    text-align: center;
    /* margin-top: 20px; */
}

/* Google Button Styles */
.google {
    width: 20px;
    margin: 10px;
}

/* Welcome Text Styles */
.welcome {
    font-size: 28px;
    font-weight: 500;
    color: #1176c4;
    text-align: center;
    /* margin-top: 10px; */
}

/* Media Queries */
@media only screen and (min-width: 768px) {
    /* Adjustments for screens larger than 768px */
    .inner-div {
        flex-direction: row;
        justify-content: space-around;
        padding: 40px;
    }

    .image, .form-div {
        width: 45%;
    }
}

@media only screen and (min-width: 1024px) {
    /* Adjustments for screens larger than 1024px */
    .inner-div {
        padding: 60px;
    }
}

