body {
    background: linear-gradient(175deg, rgba(106, 190, 255, 1) 0%, rgba(0, 58, 103, 1) 100%) !important;
    font-family: Montserrat;
    font-size: 14px;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
}

.login-bg {
    height: 100vh;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 70px;
    background: #fff;
}

.login-card .logo {
    margin-bottom: 40px;
}

.login-card .logo img {
    height: 70px;
}

.login-card .images .other img{
    border-radius: 20px;
}

.left-side {
    border-right: 3px solid #ccc;
}

.login-card .form {
    padding-left: 40px; /* Adds space between the line and the form content */
}

.login-card .form .logo{
    display: none;
}

.welcome {
    font-size: 20px;
    font-weight: 500;
    color: #1176c4;
}

.form .option{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.forgot {
    color: #1176c4;
    font-weight: normal;
}


/* Styles for screens smaller than 768px */
@media (max-width: 767.98px) {}

@media (max-width: 768px) {}

@media (max-width: 991.98px) {
    body {
        font-size: 18px;
    }
    .login-bg{
        padding: 25px 0px;
        align-items: center;
        margin: auto;
    }
    .login-card{
        padding: 45px 20px;
        width: 100% !important;
    }
    .left-side{
        border-right: none;
        text-align: center;
    }

    .login-card .form {
        padding-left: 0;
        padding: 20px 40px;
        width: 100%;
    }

    .welcome {
        text-align: center;
        font-size: 26px;
    }
    .signin{
        text-align: center;
    }
    .login-card .images{
        display: none;
    }
    .login-card .form .logo{
        display: block;
        text-align: center;
    }

}