.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

table.dataTable tbody td.select-checkbox::before,
table.dataTable tbody td.select-checkbox::after,
table.dataTable tbody th.select-checkbox::before,
table.dataTable tbody th.select-checkbox::after {
    top: 50%;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 2px solid #f4f4f4;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.select2 {
    max-width: 100%;
    width: 100%;
}

.searchable-title {
    font-weight: bold;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.antialiased{
    background: pink;
    display: none;
}

.books{
    width: 100%;
    padding: 45px 0;
}

.books .book-area{
    margin-top: 20px;
}

.books .book-area .book-single{
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}

.book-single .image img{
    height: 200px;
    width: auto; /* Set a specific height for the images (adjust as needed) */
    object-fit: cover;
}

.book-single .price{
    margin: 10px 0px 0px 0px;
}

.book-single .price span{
    font-size: 17px;
    font-weight: bold;
    margin-left: 3px;
}

.book-single .btn{
    background: #114F82;
    margin: 0 5px;
    color: white;
}

.book-single .btn:hover{
    background: #114F82;
    color: #fff;
}

.btn i {
    transition: transform 0.2s ease-in-out;
  }

.book-single .btn:hover i{
    transform: rotate(360deg);
}
