body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
    --text-overline-overline1-roboto-medium: Roboto;
    --font-poppins: Poppins;
    --font-nunito: Nunito;
  
    /* font sizes */
    --font-size-sm: 0.88rem;
    --text-overline-overline1-roboto-medium-size: 0.75rem;
    --text-body-body1-roboto-regular-size: 1rem;
    --font-size-2xs: 0.69rem;
    --font-size-5xl: 1.5rem;
    --font-size-lgi: 1.19rem;
    --font-size-mid: 1.06rem;
    --font-size-3xs: 0.63rem;
    --font-size-5xs: 0.5rem;
    --font-size-xl: 1.25rem;
    --font-size-smi: 0.81rem;
  
    /* Colors */
    --color-gainsboro-100: #e5e8e8;
    --color-gainsboro-200: #dfebe9;
    --color-gainsboro-300: #e6e6e6;
    --color-gainsboro-400: #dbdbdb;
    --color-gainsboro-500: #d9d9d9;
    --color-gainsboro-600: #cadfde;
    --color-gainsboro-700: rgba(217, 217, 217, 0.2);
    --color-gainsboro-800: rgba(217, 217, 217, 0);
    --color-white: #fff;
    --green: #1d7d81;
    --color-black: #000;
    --color-gray-100: #fafafa;
    --dmv-black: #23262f;
    --light-black: #11263c;
    --color-gray-200: #1a1a1a;
    --color-gray-300: rgba(0, 0, 0, 0.38);
    --color-gray-400: rgba(0, 0, 0, 0.87);
    --color-mediumturquoise: #32c7b8;
    --color-darkcyan: #0093a2;
    --color-darkslategray-100: #1e617a;
    --color-darkslategray-200: #252c43;
    --color-darkslategray-300: #252b42;
    --color-darkslategray-400: rgba(37, 43, 66, 0.1);
    --color-lightgray-100: #d4d4d4;
    --color-lightgray-200: #d1d1d1;
    --color-lightgray-300: #c7d1cf;
    --color-lime: #00ff38;
    --color-whitesmoke-100: #f5f5f5;
    --color-whitesmoke-200: #eaeaea;
    --color-slategray-100: #708099;
    --color-slategray-200: #595e75;
    --color-lightslategray-100: #538ca2;
    --color-lightslategray-200: #4587a1;
    --color-darkgray-100: #a7a7a7;
    --color-mediumblue: #0041e8;
    --color-mediumslateblue: #2666ff;
    --color-midnightblue-100: #000d3b;
    --color-dimgray: rgba(85, 85, 85, 0);
  
    /* Gaps */
    --gap-5xs: 0.5rem;
    --gap-25xl: 2.75rem;
    --gap-3xl: 1.38rem;
    --gap-8xl: 1.69rem;
    --gap-7xl: 1.63rem;
    --gap-37xl: 3.5rem;
    --gap-9xl: 1.75rem;
    --gap-mini: 0.94rem;
    --gap-6xs: 0.44rem;
    --gap-10xl: 1.81rem;
    --gap-smi: 0.81rem;
    --gap-xl: 1.25rem;
    --gap-3xs: 0.63rem;
    --gap-16xl: 2.19rem;
    --gap-mid: 1.06rem;
    --gap-63xl: 5.13rem;
    --gap-22xl: 2.56rem;
    --gap-sm: 0.88rem;
    --gap-96xl: 7.19rem;
    --gap-4xs: 0.56rem;
    --gap-14xl: 2.06rem;
    --gap-base: 1rem;
    --gap-8xs: 0.31rem;
    --gap-7xs: 0.38rem;
    --gap-lg: 1.13rem;
    --gap-12xs: 0.06rem;
    --gap-9xs: 0.25rem;
    --gap-5xl: 1.5rem;
    --gap-18xl: 2.31rem;
    --gap-11xs: 0.13rem;
    --gap-20xl: 2.44rem;
    --gap-lgi: 1.19rem;
    --gap-11xl: 1.88rem;
    --gap-6xl: 1.56rem;
    --gap-103xl: 7.63rem;
    --gap-42xl: 3.81rem;
    --gap-2xl: 1.31rem;
    --gap-xs: 0.75rem;
    --gap-17xl: 2.25rem;
    --gap-24xl: 2.69rem;
    --gap-2xs: 0.69rem;
    --gap-43xl: 3.88rem;
    --gap-12xl: 1.94rem;
    --gap-112xl: 8.19rem;
    --gap-19xl: 2.38rem;
  
    /* Paddings */
    --padding-33xl: 3.25rem;
    --padding-44xl: 3.94rem;
    --padding-9xl: 1.75rem;
    --padding-12xl: 1.94rem;
    --padding-12xs: 0.06rem;
    --padding-13xl: 2rem;
    --padding-24xl: 2.69rem;
    --padding-xs: 0.75rem;
    --padding-lg: 1.13rem;
    --padding-2xl: 1.31rem;
    --padding-xl: 1.25rem;
    --padding-11xs: 0.13rem;
    --padding-mid: 1.06rem;
    --padding-smi: 0.81rem;
    --padding-9xs: 0.25rem;
    --padding-10xs: 0.19rem;
    --padding-8xs: 0.31rem;
    --padding-mini: 0.94rem;
    --padding-2xs: 0.69rem;
    --padding-6xl: 1.56rem;
    --padding-base: 1rem;
    --padding-16xl: 2.19rem;
    --padding-36xl: 3.44rem;
    --padding-14xl: 2.06rem;
    --padding-11xl: 1.88rem;
    --padding-lgi: 1.19rem;
    --padding-96xl: 7.19rem;
    --padding-7xl: 1.63rem;
    --padding-5xl: 1.5rem;
    --padding-8xl: 1.69rem;
    --padding-6xs: 0.44rem;
    --padding-4xl: 1.44rem;
    --padding-4xs: 0.56rem;
    --padding-301xl: 20rem;
    --padding-116xl: 8.44rem;
    --padding-189xl: 13rem;
    --padding-17xl: 2.25rem;
    --padding-7xs: 0.38rem;
    --padding-5xs: 0.5rem;
    --padding-sm: 0.88rem;
    --padding-3xs: 0.63rem;
    --padding-199xl: 13.63rem;
    --padding-38xl: 3.56rem;
    --padding-123xl: 8.88rem;
    --padding-34xl: 3.31rem;
    --padding-32xl: 3.19rem;
    --padding-145xl: 10.25rem;
    --padding-26xl: 2.81rem;
    --padding-10xl: 1.81rem;
    --padding-46xl: 4.06rem;
    --padding-3xl: 1.38rem;
    --padding-22xl: 2.56rem;
    --padding-298xl: 19.81rem;
    --padding-115xl: 8.38rem;
    --padding-187xl: 12.88rem;
    --padding-458xl: 29.81rem;
    --padding-182xl: 12.56rem;
    --padding-291xl: 19.38rem;
    --padding-93xl: 7rem;
    --padding-23xl: 2.63rem;
    --padding-18xl: 2.31rem;
    --padding-43xl: 3.88rem;
    --padding-42xl: 3.81rem;
    --padding-66xl: 5.31rem;
    --padding-153xl: 10.75rem;
    --padding-15xl: 2.13rem;
  
    /* Border radiuses */
    --br-mid: 17px;
    --br-5xs: 8px;
    --br-81xl: 100px;
    --br-xs: 12px;
    --br-13xl: 32px;
    --br-17xl: 36px;
    --br-sm: 14px;
    --br-9xs: 4px;
    --br-3xs: 10px;
    --br-7xs: 6px;
    --br-4xs: 9px;
    --br-10xs: 3px;
  }
  